{% extends 'base.html' %}

{% block body %}
<p><a href="{{ url_for('.add_dog')}}"> Add a new dog</a></p>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id='flash'>
  {% for message in messages %}
  <strong>Alert!</strong> {{ message }}
  <button type="close" value="x">
  </button>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

{% if dogs %}
<table>
		<thead>
				<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Breed</th>
						<th>Color</th>
						<th>Age</th>
				</tr>
		</thead>

		<tbody>
				{% for row in dogs %}
				<tr>
						<td> {{ row.dogId }}</td>
						<td> {{ row.name }}</td>
						<td> {{ row.breed }}</td>
						<td> {{ row.color }}</td>
						<td> {{ row.age }}</td>
						<<td>

</td>
<td>
  <form action = "/delete_dog/{{row.dogId}}" method = "POST">
    <input type="submit" value = "delete">
    </form>
</td>

					</tr>
					{% endfor %}
{% endif %}
{% endblock %}
